@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
}
